<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>menu</title>
    <link rel="stylesheet" href="../../static/css/clear.css" th:href="@{/css/clear.css}">
    <link rel="stylesheet" href="../../static/css/menu.css" th:href="@{/css/menu.css}">
    <link rel="stylesheet" href="../../static/css/header.css" th:href="@{/css/header.css}">
</head>
<body>
<header class="my-header">
    <a class="header-item h-i" th:href="@{#}">COFFEE AND CHILL</a>
    <a class="header-item" th:href="@{/menu}">menu</a>
    <a class="header-item" th:href="@{/cart}">cart</a>
    <a class="header-item" th:href="@{/profile}">profile</a>
</header>
<div class="menu-table">
    <div class="menu-card" th:each="item : ${Items}">
        <div class="card-img">
            <img th:src="@{/img/{id}.jpg(id=${item.getId()})}">
        </div>
        <div class="card-bottom">
        <div class="card-descr">
            <a class="card-item" th:text="${item.getName()}" th:href="@{/menu/item{id}(id=${item.getId()})}"></a>
            <p class="card-item" th:text="${item.getStringPrice()}"></p>
        </div>
            <form th:method="POST" th:action="@{/cart/add/{id}(id=${item.getId()})}">
                <input class="card-add" type="submit" value="add"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>