<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
  <link rel="stylesheet" href="../../static/css/clear.css" th:href="@{/css/clear.css}">
  <link rel="stylesheet" href="../../static/css/menu.css" th:href="@{/css/menu.css}">
  <link rel="stylesheet" href="../../static/css/header.css" th:href="@{/css/header.css}">
</head>
<body>
<header class="my-header">
  <a class="header-item" th:href="@{#}">COFFEE AND CHILL</a>
  <a class="header-item" th:href="@{/menu}">menu</a>
  <a class="header-item" th:href="@{/stores}">stores</a>
  <a class="header-item" th:href="@{/cart}">cart</a>
  <a class="header-item" th:href="@{/profile}">profile</a>
</header>
</body>
</html>